
* {
    margin: 0;
}
html {
    font-size: 16px;
    font-family: Tahoma, Garamond, sans-serif;

}
header {
    border-bottom: 1px solid #eee;
    height: 4rem;
}
.burger-wrapper {
  cursor: pointer;
}
.meny {
    background: #333;
    width: 25rem;
    height: 100vh;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(50rem);
    top: 0;
    z-index: 0;
    transition: 0.5s;
}
#menyAvPaa {
    display: none;
}

#menyAvPaa:checked ~ .meny {
    transform: translateX(0rem);
}

.burger {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.burger > div {
    height: 2px;
    background-color: #000;
    transition: 0.5s;
    z-index: 999;
}

#menyAvPaa:checked ~ .burger > div {
  background-color: #fff;
}

#menyAvPaa:checked ~ .burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}
#menyAvPaa:checked ~ .burger > div:nth-child(2) {
    opacity: 0;
}
#menyAvPaa:checked ~ .burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}

nav a {
    color: white;
}

.navlist {
    margin-top: 4rem;
}


body {
    font-size:15px;
    font-style:italic;
    text-align:left;
}

main {
    margin: 50px 90px;
}

h1 {
    font-style:normal;
    margin-bottom:40px;
    margin-top:30px;
}


h2 {
    font-style:normal;
    margin-bottom:30px;
    margin-top:40px;
}

h3 {
    font-style:normal;
    margin-bottom:20px;
    margin-top:30px;
}




.section_step {
    padding-bottom:20px;
    padding-top:20px;
    padding-right:20px;
    padding-left:20px;
    text-align:left;
    margin-bottom:20px;
    margin-top:20px;
    marging-right:20px;
    marging-left:20px;
}


.article_step {
    padding-bottom:20px;
    padding-top:20px;
    padding-right:20px;
    padding-left:20px;
    text-align:left;
    margin-bottom:20px;
    margin-top:20px;
    marging-right:20px;
    marging-left:20px;
}

.conseils_step {
    padding-bottom:20px;
    padding-top:20px;
    padding-right:20px;
    padding-left:20px;
    text-align:left;
    margin-bottom:20px;
    margin-top:20px;
    marging-right:20px;
    marging-left:20px;
}

.résumé_step {
    padding-bottom:20px;
    padding-top:20px;
    padding-right:20px;
    padding-left:20px;
    text-align:left;
    margin-bottom:20px;
    margin-top:20px;
    marging-right:20px;
    marging-left:20px;
}

